<br/><br/>
<ng-container *ngFor="let team of teams">
  <app-team [team]="team" (removeTeamEvent)="removeTeamEvent($event)"></app-team>
</ng-container>

<br/>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        New Team
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field >
      <input type="text" matInput placeholder="Team name" [(ngModel)]="newTeamName" value="">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addTeam()">Add team</button>

  </mat-expansion-panel>
</mat-accordion>
